.btn{
    width:auto;
    margin: 10px 10px;
    font-weight: 700;
    border: none;
}

.btn-success {
    width: 200px;
}

.alert-warning {
    margin: auto auto;
    text-align: center;
    font-weight: bolder;
    color: white;
    width: 200px;
    font-size: large;
    border:none
}
